<!DOCTYPE html>

<%provide(:title, "About")%>
<html>
    <head>
        <title>
            <%=yield(:title)%> | Ruby on Rails Tutorial Sample App
        </title>
    </head>
    <body>
        <h1>About</h1>
        <p>
            This is a Ruby On Rails Tutorial site. Find out more at:
            <a href= "http://www.railstutorial.org">Ruby on Rails Tutorial</a>
        </p>
    </body> 

</html>