<!DOCTYPE html>

<%provide(:title, "Help")%>
<html>
    <head>
        <title>
            <%= yield(:title)%> | Ruby on Rails Tutorial Sample App
        </title>
    </head>
    <body>
    <h1>Help!</h1>
<p>
        Get help at 
        <a href= "http://www.railstutorial.org/#help">Ruby on Rails Tutorial</a>
    </body>
</p>
</html>